<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69083188905-dh8hgl1m6hdhmd84r69v6sm3tijadfaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69083188905-dh8hgl1m6hdhmd84r69v6sm3tijadfaq</string>
	<key>API_KEY</key>
	<string>AIzaSyCrtH5aiyzgVHwdrLZ_GVBWCXS2aw-YTA4</string>
	<key>GCM_SENDER_ID</key>
	<string>69083188905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elizeurs.ArtableAdmin</string>
	<key>PROJECT_ID</key>
	<string>artable-6432d</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-6432d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69083188905:ios:f10e0289bcb69e550463b8</string>
	<key>DATABASE_URL</key>
	<string>https://artable-6432d.firebaseio.com</string>
</dict>
</plist>